<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="images/pikachu_icon.png">
        <script src="../scripts.js" defer></script>

        <title>Initial_page</title>

    </head>

    <body>
    <h1>Pokemon Battle Simulator</h1>

    <div id="botoes">

        <a href="PBS.html">
            <img  class="botoes"   id="coop-btn" src="images/coop.png">
        </a>

        <a href="PBS.html">
            <img class="botoes" id="vsai-btn" src="images/vsai.png">
        </a>

    </div>


    </body>



</html>