<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/images/pikachu_icon.png">
    <script src="https://unpkg.com/htmx.org@1.9.2" defer></script>
    <title>Login</title>


</head>
<body>
    <h1>Pokemon Battle Simulator</h1>

    <div id="botoes">
        <button onclick="mostrarCadastro()">Criar conta</button>
        <button onclick="mostrarLogin()">Login</button>

        <!-- Cadastro -->
        <div id="cadastro" style="display:none;">
            <h2 id="Cadastro-title">Criar Conta</h2>
            <form id="form-cadastro"
                  hx-post="/user"
                  hx-target="#cadastro-msg"
                  hx-swap="innerHTML">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Cadastrar</button>
            </form>
            <p id="cadastro-msg" class="form-msg"></p>
        </div>

        <!-- Login -->
        <div id="login" style="display:none;">
            <h2 id="Login-title">Login</h2>
            <form id="form-login"
                  hx-post="/login"
                  hx-target="#login-msg"
                  hx-swap="innerHTML">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Entrar</button>
            </form>
            <p id="login-msg" class="form-msg"></p>
        </div>
    </div>

    <style>
        /* Mensagens de erro/sucesso */
        .form-msg {
            color: gold;
            text-shadow: 1px 1px 0 orangered;
            margin-top: 10px;
        }
    </style>

    <script>
        function mostrarCadastro() {
            document.getElementById("cadastro").style.display = "block";
            document.getElementById("login").style.display = "none";
        }

        function mostrarLogin() {
            document.getElementById("cadastro").style.display = "none";
            document.getElementById("login").style.display = "block";
        }
    </script>
</body>
</html>