<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/images/pikachu_icon.png">
    <title>Escolha seu Pokémon</title>
</head>
<body>
    <h1>Escolha seu Pokémon, {{ username }}!</h1>

    <p class="texto-retro" id="winstreak" style="text-align:center; color:gold;"></p>

    <div id="search-container">
    <input type="text" id="search" placeholder="Buscar Pokémon...">
    </div>

    <div id="pokemon-grid">
        {% for name in pokemons %}
            <input type="image"
                   class="pokemon_selection"
                   src="https://img.pokemondb.net/sprites/black-white/anim/normal/{{ name }}.gif"
                   data-name="{{ name }}"
                   onclick="localStorage.setItem('selectedPokemon', '{{ name }}'); window.location.href='/build';">
        {% endfor %}
    </div>

    <script>
    const searchInput = document.getElementById("search");

    searchInput.addEventListener("input", () => {
        const value = searchInput.value.toLowerCase();

        const pokemons = document.querySelectorAll(".pokemon_selection");

        pokemons.forEach(pokemon => {
            const name = pokemon.dataset.name.toLowerCase();

            if (name.includes(value)) {
                pokemon.style.display = "block";
            } else {
                pokemon.style.display = "none";
            }
        });
    });
    </script>

    <script>
    const ws = localStorage.getItem("winstreak") || 0;
    document.getElementById("winstreak").innerText = `Winstreak: ${ws}`;
    </script>
</body>
</html>